<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Coupons</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/mypage/my-coupons.css}">
</head>
<body>
<div th:replace="~{common/header :: header}"></div>

<div class="page-container">
    <div th:replace="~{common/mypage/mypage-sidebar :: sidebar}"></div>
    <main>
        <div class="coupon-register">
            <label for="coupon">쿠폰</label>
            <input id="coupon" placeholder="쿠폰 코드" type="text">
            <button onclick="submitCoupon()" type="button">등록</button>
        </div>
        <h2>보유 쿠폰</h2>
        <div class="no-coupon" id="no-coupon" th:if="${#lists.isEmpty(coupons)}">
            <p>보유한 쿠폰이 없습니다.</p>
        </div>
        <div class="my-coupons" th:if="${!#lists.isEmpty(coupons)}">
            <div class="coupon-description">
                <span class="coupon-description-effect">쿠폰 효과</span>
                <span class="coupon-description-expired-at">만료일</span>
            </div>
            <div class="coupon-item" th:each="coupon : ${coupons}">
                <div class="coupon-effect" th:text="${coupon.effect}">쿠폰 효과</div>
                <div class="coupon-expired-at" th:text="${coupon.expiredAt}">2021-01-01 12:34:00</div>
            </div>
            <div class="pagination">
                <button class="page-prev">&lt;</button>
                <button class="page-next">&gt;</button>
            </div>
        </div>
    </main>
</div>
<div th:replace="~{common/footer :: footer}"></div>

<script th:inline="javascript">
    let currentPage = [[${currentPage}]];
    let totalPages = [[${totalPages}]];

    console.log(currentPage);
    console.log(totalPages);

    $(document).ready(function () {
        const $pagination = $('.pagination');
        let pagesHtml = `
           <button class="page-prev" ${currentPage === 0 ? 'disabled' : ''}>&lt;</button>
       `;

        for (let i = 0; i < totalPages; i++) {
            pagesHtml += `
               <button class="page-num ${currentPage === i ? 'active' : ''}"
                       data-page="${i}">
                   ${i + 1}
               </button>
           `;
        }

        pagesHtml += `
           <button class="page-next" ${currentPage === totalPages - 1 ? 'disabled' : ''}>&gt;</button>
       `;

        $pagination.html(pagesHtml);
    });

    const pagination = $('.pagination');

    pagination.on('click', '.page-num', function () {
        currentPage = $(this).data('page');
        location.href = '/users/my-coupons?page=' + currentPage;
    });

    pagination.on('click', '.page-prev', function () {
        if (currentPage > 0) {
            currentPage--;
            location.href = '/users/my-coupons?page=' + currentPage;
        }
    });

    pagination.on('click', '.page-next', function () {
        if (currentPage < totalPages - 1) {
            currentPage++;
            location.href = '/users/my-coupons?page=' + currentPage;
        }
    });

    function submitCoupon() {
        let couponCode = $('#coupon').val();

        $.ajax({
            url: '/api/users/coupons',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                couponCode: couponCode
            }),
            success: function (response) {
                location.reload();
            },
            error: function (xhr, status, error) {
            }
        });
    }
</script>
</body>
</html>