<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/mypage/my-profile.css}">
</head>
<body>
<div th:replace="~{common/header :: header}"></div>

<div class="page-container">
    <div th:replace="~{common/mypage/mypage-sidebar :: sidebar}"></div>
    <main class="my-profile-container">

        <div class="payment-settings">
            <div class="payment-row">
            <span class="payment-label">내 포인트 :
        <span class="point-amount" th:text="${#numbers.formatInteger(user.point, 0,'COMMA')} + 'P'">200P</span>
            </span>
                <button class="payment-action payment" onclick="openPointPaymentModal()">결제</button>
            </div>
            <div class="payment-row">
            <span class="payment-label">포인트 자동 결제 :
                <span class="is-auto-payment" th:if="${user.isAutoPayment}" th:text="사용중">사용중</span>
                <span class="is-auto-payment" th:if="${!user.isAutoPayment}">사용하지 않음</span>
            </span>
                <button class="payment-action payment" onclick="autoPayment()" th:if="${!user.isAutoPayment}">자동 결제 등록</button>
            </div>
            <div class="payment-row">
            <span class="payment-label">구독 만료일 :
                <span class="subscription-date" th:if="${user.isSubscribed}" th:text="${#dates.format(endAt, 'yyyy-MM-dd HH:mm:ss')}">2025.11.27</span>
                <span class="subscription-date" th:if="${!user.isSubscribed}">사용하지 않음</span>
            </span>
                <button class="payment-action payment" onclick="openSubscriptionModal()" th:if="${!user.isSubscribed}">구독 서비스 가입</button>
            </div>
            <div class="payment-row">
                <span class="payment-label">결제 수단 변경</span>
                <button class="payment-action change" onclick="changePayment()">변경</button>
            </div>
            <div class="payment-row" th:if="${user.isAutoPayment}">
                <span class="payment-label">포인트 자동 결제</span>
                <button class="payment-action cancel" onclick="inactiveAutoPayment()">자동 결제 취소</button>
            </div>
            <div class="payment-row" th:if="${user.isSubscribed}">
                <span class="payment-label">정기 구독 서비스</span>
                <button class="payment-action cancel" onclick="inactiveSubscription()">구독 취소</button>
            </div>
        </div>
        <div class="content-section">
            <div class="works">
                <h3>연재한 작품</h3>
                <ul>
                    <li th:each="novel : ${novels}" th:text="${novel.title}"></li>
                    <li th:if="${#lists.isEmpty(novels)}">연재한 작품이 없습니다</li>
                </ul>
            </div>
            <div class="comments">
                <h3>작성한 댓글</h3>
                <ul>
                    <li th:each="comment : ${comments}" th:text="${comment.content}"></li>
                    <li th:if="${#lists.isEmpty(comments)}">작성한 댓글이 없습니다</li>
                </ul>
            </div>
        </div>
    </main>
</div>

<div th:replace="~{common/footer :: footer}"></div>

<!-- 모달 백드롭 -->
<div class="modal-backdrop" id="modalBackdrop" onclick="closePointPaymentModal()"></div>

<!-- 포인트 결제 모달 -->
<div class="modal" id="pointPaymentModal">
    <div class="modal-content">
        <span class="close" onclick="closePointPaymentModal()">&times;</span>
        <div class="modal-header">
            <h3>포인트 결제</h3>
        </div>
        <div class="modal-body">
            <div class="current-points">
                    <span class="point-label"> 내 포인트:
                        <span class="point-amount" th:text="${#numbers.formatInteger(user.point, 0,'COMMA')} + 'P'">200P</span>
                    </span>
            </div>
            <table class="point-table">
                <thead>
                <tr>
                    <th>포인트</th>
                    <th>가격</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input checked name="point" onclick="updateFinalPrice('point')" type="radio" value="1000"> 50P</td>
                    <td>1,000원</td>
                </tr>
                <tr>
                    <td><input name="point" onclick="updateFinalPrice('point')" type="radio" value="3000"> 150P</td>
                    <td>3,000원</td>
                </tr>
                <tr>
                    <td><input name="point" onclick="updateFinalPrice('point')" type="radio" value="5000"> 250P</td>
                    <td>5,000원</td>
                </tr>
                <tr>
                    <td><input name="point" onclick="updateFinalPrice('point')" type="radio" value="10000"> 500P</td>
                    <td>10,000원</td>
                </tr>
                <tr>
                    <td><input name="point" onclick="updateFinalPrice('point')" type="radio" value="50000"> 2500P</td>
                    <td>50,000원</td>
                </tr>
                </tbody>
            </table>
            <div class="coupon-display">
                <label>쿠폰 적용</label>
                <select class="couponSelect" onchange="updateFinalPrice('point')">
                    <option selected value="0">쿠폰을 선택하세요</option>
                    <option th:attr="data-min=${coupon.minimumAmount}, data-coupon-id=${coupon.userCouponId}"
                            th:each="coupon : ${myCoupons}" th:text="${coupon.effect}" th:value="${coupon.discountAmount}"></option>
                </select>
            </div>
            <div class="actions">
                <div class="final-price-display">
                    <label>최종 가격:</label>
                    <span class="finalPrice">1,000원</span>
                </div>
                <button class="btn btn-primary" onclick="buyPoint()">결제</button>
            </div>
        </div>
    </div>
</div>

<!-- 모달 백드롭 -->
<div class="modal-backdrop" id="subscriptionModalBackdrop" onclick="closeSubscriptionModal()"></div>

<!-- 구독 모달 -->
<div class="modal2" id="subscriptionModal">
    <div class="modal-content2">
        <span class="close" onclick="closeSubscriptionModal()">&times;</span>
        <div class="modal-header">
            <h3>구독 결제</h3>
        </div>
        <div class="modal-body">
            <div class="subscription-options">
                <div class="subscription-item">
                    <h4>정기 구독권</h4>
                    <div class="benefits">혜택</div>
                    <div class="price">가격: <span>9,900원</span></div>
                    <input name="subscription" onclick="updateFinalPrice('subscription')" type="radio" value="9900">
                </div>
                <div class="subscription-item">
                    <h4>구독권</h4>
                    <div class="benefits">혜택</div>
                    <div class="price">가격: <span>14,900원</span></div>
                    <input name="subscription" onclick="updateFinalPrice('subscription')" type="radio" value="14900">
                </div>
            </div>
            <div class="actions2">
                <div class="final-price-display2">
                    <label>최종 가격:</label>
                    <span class="finalPrice">0원</span>
                </div>
                <button class="btn-primary2" onclick="subscribe()">구독 신청</button>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/mypage/my-profile.js}"></script>
</body>
</html>