<nav class="profile-nav" th:fragment="my-header">
    <div class="nav-container">
        <div class="nav-menu">
            <a class="nav-link" href="/users/profile">프로필</a>
            <a class="nav-link" href="/users/favorite-novels">관심 작품</a>
            <a class="nav-link" href="/users/recent-novels">열람 작품</a>
            <a class="nav-link" href="/users/point-history">포인트 내역</a>
            <a class="nav-link" href="/users/my-coupons">쿠폰</a>
            <a class="nav-link" href="/users/edit-profile">회원 정보 관리</a>
        </div>
    </div>
</nav>