<div class="profile-section" th:fragment="profile-header">
    <link rel="stylesheet" th:href="@{/css/mypage/profile-header.css}">
    <div class="profile-info">
        <div class="profile-picture"></div>
        <span class="profile-name">
                <span class="nickname" th:text="${user.nickname}">닉네임</span> 님의 프로필
            </span>
    </div>
    <div class="profile-buttons">
        <button onclick="location.href='/users/profile'">프로필</button>
        <button onclick="location.href='/users/my-novel'">연재 작품</button>
        <button onclick="location.href='/users/my-comment'">댓글</button>
    </div>
</div>